
body{
    margin:0;
}
.container{
    width:600px;
    margin:auto;
}
.sec-1{
    margin:auto;
    border:1px solid gray;
}
h4 {
    position: relative;
    padding: 10px 0 10px 20px;
    margin: 0;
}
/* 
h4::after {
    content: "";
    border-left: 1px solid black;
    border-top: 1px solid black;
    width: 14px;
    height: 14px;
    transform: rotate(224deg);
    position: absolute;
    right: 15px;
    top: 8px;
    cursor:pointer;
} */

#arrow1,#arrow2,#arrow3{
    border-left: 1px solid black;
    border-top: 1px solid black;
    width: 14px;
    height: 14px;
    transform: rotate(224deg);
    transition:0.5s ease-in-out ;
    position: absolute;
    right: 15px;
    top: 10px;
    cursor:pointer;
}



p {
    padding: 10px 10px 10px 20px;
     
}

h4{
    cursor: pointer;
}

#para-1{
    display: none;
}
#para-2{
    display: none;
}
#para-3{
    display: none;
}

.button {
    width: 160px;
    height: 40px;
    border-radius: 4px;
    background-color: #0d6efd;
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    cursor: pointer;
    font-family: sans-serif;
}

.button:hover{
    background-color: #0342a0;
}

.sec-btn {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.modal {
    width: 600px;
    height: 240px;
    border: 1px solid;
    border-radius: 4px;
    font-family: sans-serif;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    background-color: white;
    animation: popupslide 0.1s linear ;

}
@keyframes popupslide{
    0%{
        transform: translateY(-200px);
    }

    100%{
        transform:translateY(0);
    }
}

#closebtn{
    background-color: #6c757d;
    color:white;
    height: 40px;
    width:80px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-family: sans-serif;
    cursor: pointer;
}

#savebtn{
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
    color:white;
    border-radius: 4px;
    width:150px;
    height:40px;
    font-size: 18px;
    font-family: sans-serif;
    cursor: pointer;
}

#header{
    padding:10px 20px;
}

.footer{
    padding:10px 20px 10px;
    float:right;
}

h3{
    position: relative;
}


#close{
    position: absolute;
    right:0;
    padding-right: 20px;
    font-family: sans-serif;
    cursor: pointer;
}

#popup-bg{
    height:100vh;
    width:100%;
    background: rgba(0,0,0,0.5);
    display:none;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity: 0.5;
    transition: opacity .15s linear;
}

.clear{
    clear:both;
}

